# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled tags
GTAGS
GPATH
GRTAGS
GSYMS

# qt ,fly makefile

Makefile

*.user*
*.user.*